/* src/Star.css */
.star {
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation: shine 3s infinite;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
  